
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 94vh;
    width: 100%;
}


.logo {
    position:absolute;

    left: 38%;
    top: 35%;
    
}

.search {

    position: absolute;
    left: 25%;
    top: 50%;
    text-align: center;
    
}

.tl {
    font-size: 13px;
    display: inline-block;
    position: absolute;
    padding-left: 5.1%;
    padding-top: 1%;
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

.tl2 {
    font-size: 13px;
    display:inline-block;
    padding-left: 1%;
    padding-top: 1%;
    position: absolute;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:black;
}

.info {
    text-align: center;
    display: inline-block;
    position: absolute;
    padding-left: 50%;
    padding-top: 53.5%;
}